

<CascadingAuthenticationState>  
<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
      @*  <Blazor.AdminLte.PageTitle>Not found</Blazor.AdminLte.PageTitle>*@
      <Blazor.AdminLte.Blazor.AdminLte.PageTitle>Not found</Blazor.AdminLte.Blazor.AdminLte.PageTitle>

        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>  